:root {
  --primary-color: #475561;
  --secondary-color: #7a8998;
  --text-color: #343a40;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#root {
  max-width: 25em;
  height: auto;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 4px 12px 2px rgba(0,0,0,0.2);
  background-color: #f8f9fa;
  border-radius: 15px;
}

.info {
  text-align: center;
  margin-bottom: 2rem;
}

.pfp {
  width: 250px;
  height: auto;
  margin-bottom: 1rem; 
  margin: 0 auto;
  margin-bottom: 1rem;
}

.info h1 {
  margin-bottom: 0.5rem;
  font-size: 30px;
  color: var(--primary-color)
}

h4 {
  color: var(--primary-color)
}

h6 {
  color: var(--secondary-color)
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons .icon {
  margin-right: 0.5rem;
}

.btn:hover {
  opacity: 0.8;
}

.interests ul{
  list-style: none;
  padding: 0;
}

.interests-list-item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-color)
}
